<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<%= form_with model: post do |form| %>
  <div class="flex flex-col justify-center">
    <%= form.label :post_type_id %>
    <%= form.select :post_type_id, options_for_select(PostType.pluck(:name, :id)) %>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :content %>
    <%= form.rich_text_area :content, class: 'customized-min-height' %>
    <%= form.submit class: 'hover:cursor-pointer p-5 bg-blue-100 hover:bg-blue-300 my-5 rounded-md' %>
  </div>
<% end %>
