<div class="h-screen flex flex-col justify-center">
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <h1 class="p-5 text-center">All posts</h1>
  <% @posts.each do |post| %>
    <div class="border-2 border-black rounded-md p-5 space-y-5 mx-5">
      <h2 class="text-center m-0"><%= post.title %></h2>
      <p class="m-0"><%= truncate(post.content.to_plain_text, length: 100) %></p>
      <ul class="flex flex-row justify-center list-none">
        <li><%= link_to 'View Post', post_path(post) %></li>
        <li><%= link_to 'Edit Post', edit_post_path(post) if policy(post).update? %></li>
      </ul>
    </div>
  <% end %>
</div>
