<div 
data-controller="notifications">
	<nav class="flex lg:hidden items-center h-16 bg-blue-100">
		<button class="text-blue-600 p-3" data-action="click->notifications#hamburger">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" data-notifications-target="hamburger"></path>
      </svg>
      <svg data-notifications-target="cross" class="hidden fill-current" viewBox="0 0 490 490"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 "></polygon> </g></svg>
		</button>
	</nav>
  <nav class="transition-opacity
              transition-height
              duration-300
              ease-in-out
              bg-blue-100
              py-5
              lg:py-0
              px-3
              lg:px-5
              opacity-0
              lg:opacity-100
              hidden
              flex flex-col
              lg:flex
              lg:flex-row
              lg:items-center
              md:justify-end
              lg:space-x-5
              lg:h-16"
       data-notifications-target="expand">
    <div id="notification_counter"><%= render '/shared/notification_navbar' if user_signed_in? %></div>
    <div class="hover:text-red-500"><%= link_to 'Posts', posts_path if user_signed_in? %></div>
    <div class="hover:text-red-500"><%= link_to 'New Post', new_post_path if user_signed_in? %></div>
    <div class="hover:text-red-500"><%= link_to 'Users', users_path if user_signed_in? && policy(:user).index? %></div>
    <div class="hover:text-red-500"><%= button_to('Sign Out', destroy_user_session_path, method: :delete) if user_signed_in? %></div>
  </nav>
  <%= turbo_stream_from :notifications %>
  <div class="h-0 overflow-auto transition-height duration-1000 ease-in-out bg-gray-300 bg-opacity-70"
       data-notifications-target="notifications">
    <% if user_signed_in? %>
      <%= turbo_frame_tag "notifications_#{current_user.id}" do %>
        <div id="<%= "notifications_list_#{current_user.id}" %>">
          <%= render '/shared/notifications' %>
        </div>
      <% end %>  
    <% end %>
  </div>
</div>